@import '@/app/_styles/variables.module.scss';

.work-experience-item {
  .work-experience-item__content {
    .content__company, .content__position {
      font-weight: $font-semibold;
    }

    .content__description {
      margin-top: 0.3rem;
      list-style: none;

      li {
        gap: 0.5rem;
        display: flex;
        margin-left: 0.5rem;
      }
    }
  }
}